body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
}

label,
select {
    display: block;
    margin-bottom: 10px;
}

#horarios-container {
    margin-top: 20px;
}